.root {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  color: #fff;
}

.leftTab,
.rightTab {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.chevronLeft {
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 7px;
  width: 7px;
  transform: rotate(135deg);
  display: inline-block;
}
.chevronRight {
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 7px;
  width: 7px;
  transform: rotate(-45deg);
  display: inline-block;
}
